<p>
    P: O que é a técnica Pomodoro?<br>
    R: É uma técnica de gerenciamento de tempo criado por Francesco Cirillo para melhorar a produtividade no trabalho e no estudo.
</p>
<p>
    P: Como funciona a técnica Pomodoro?<br>
    R: Ela compreende os seguintes passos:<br>
</p>
<ol>
    <li>
        Decida qual é a tarefa que gostaria de realizar.
    </li>
    <li>
        Configure o cronômetro Pomodoro para 25 minutos. 

    </li>
    <li>
        Trabalhe na tarefa até o tempo expirar.

    </li>
    <li>
        Dê uma pausa de 5 minutos 

    </li>
    <li>
        Retorne para a tarefa ou comece uma nova, caso já tenha concluído.

    </li>
    <li>
        A cada quatro "pomodoros", dê uma pausa longa de 10 minutos

    </li>
</ol>    

<p>
    P: O que é o RelógioPomodoro?<br>
    R: É um crônomotro virtual, simples e fácil de usar que o ajuda a praticar a técnica de Pomodoro.
</p>
<p>
    P: Por que usar o RelógioPomodoro?
</p>
    <ul>
        <li>
            Interface gráfica simples e amigável.
        </li>
        <li>
            Botões de controle do cronômetro.
        </li>
        <li>
            Noticações de desktop. (Em breve)
        </li>
        <li>
            Teclas de atalho.
        </li>
        <li>
            Configurações de alerta sonoro. (Em breve)
        </li>
        <li>
            Histórico de utilização. (Em breve)
        </li>

    </ul>

<p>
    P: Tenho uma sugetão. Como posso entrar em contato?<br>
    R: Envie um email para wesinec@gmail.com
</p>
