<header>
    <h1>Relógio Pomodoro</h1>
    <nav>
        <ul>
            <li >
                <a href="#" (click)="toggleDoubt()">Dúvidas?</a>
            </li>
            <li>
                Opções
            </li>
            <li>
                Monitorar
            </li>
            <li>
                Compartilhar
            </li>
        </ul>
    </nav>
</header>


<app-relogio></app-relogio>
<div *ngIf="doubt">
    <a href="#" (click)="toggleDoubt()">Fechar (x)</a>
    <app-pagina-duvidas></app-pagina-duvidas>
</div>

<footer>
    @copyright - Wesin Ribeiro. Todoso os direitos reservados. 
</footer>